@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /*usado para condiderar a borda como o tamanho total*/
  box-sizing: border-box;
}

.content {
  padding: 1rem;
}

.content h1 {
  margin: 0%;
}

ol.pokemons {
  /* Fará um formato de tabela*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

ol.pokemons li {
    margin: .5rem;
    padding: 1rem;
    background-color: rgb(33, 139, 11);
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  ol.pokemons li img{
    /* faz nunca vazar para fora */
    max-width: 100%;
   height: 100px;
   align-self: flex-end;
  }