@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /*usado para condiderar a borda como o tamanho total*/
  box-sizing: border-box;
}
body {
  background-color: rgb(230, 233, 235);
}


.content {
  padding: 1rem;
  margin: 1rem auto;
  min-width: 453px;
  background-color: aliceblue;
  border-radius: 1rem;
}

.content h1 {
  margin: 0%;
}

/*---------MEDIA QUERY PARA DESIGN RESPONSIVO-------------*/

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
  }
}
@media screen and (max-width: 603px) {
  .content {
    max-width: 453px;
  }
}
